{{- $profile := env "DOTFILES_PROFILE" | default "dev" -}}
{{- $role := env "DOTFILES_ROLE" | default "workstation" -}}
{{- $editor := env "DOTFILES_EDITOR" | default "zed" -}}
{{- $container := env "DOTFILES_CONTAINER" | default "auto" -}}
[data]
profile = {{ $profile | quote }}
role = {{ $role | quote }}
editor = {{ $editor | quote }}
container = {{ $container | quote }}
personal = {{ eq (env "DOTFILES_PERSONAL") "true" }}
gitName = {{ env "DOTFILES_GIT_NAME" | quote }}
gitEmail = {{ env "DOTFILES_GIT_EMAIL" | quote }}

[git]
autoCommit = false
autoPush = false
