#!/usr/bin/env sh
set -eu

export MISE_DATA_DIR="${MISE_DATA_DIR:-$HOME/.local/share/mise}"
export PATH="$MISE_DATA_DIR/shims:/opt/homebrew/bin:/home/linuxbrew/.linuxbrew/bin:$PATH"

{{ if and (eq .profile "dev") (eq .role "devbox") -}}
agent-browser install
{{ else -}}
:
{{ end -}}
